<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Forgot Password</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="resetForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="resetForm.controls['userEmail'].dirty && resetForm.hasError('required','userEmail')">
                                    <span class="fa fa-envelope p-2"></span>
                                    <input formControlName="userEmail" type="text" placeholder="Enter userEmail">
                                </div>
                            </div>
                            <small *ngIf="resetForm.controls['userEmail'].dirty && resetForm.hasError('required','userEmail')"
                            class="text-danger"> *userEmail Required</small>
                            
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="resetForm.controls['newPassword'].dirty && resetForm.hasError('required','newPassword')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="newPassword" [type]="type" placeholder="New Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="resetForm.controls['newPassword'].dirty && resetForm.hasError('required','newPassword')"
                            class="text-danger"> * New Password is required</small>

                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="resetForm.controls['confirmNewPassword'].dirty && resetForm.hasError('required','confirmNewPassword')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="confirmNewPassword" [type]="type" placeholder="Confirm New Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="resetForm.controls['confirmNewPassword'].dirty && resetForm.hasError('required','confirmNewPassword')"
                            class="text-danger"> * Confirm New Password is required</small>

                            <button (click)="onForgot()" type="submit" class="btn btn-secondary btn-black mt-4 w-100">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>