
<div class="side-nav-content" >
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        
        <div class="profile-image">
            <img [src]="imageUrl" />
        </div>
        
        <li class="nav-list-item">
            <i class="fa-solid fa-hands-praying"></i>
            <span>{{adminDetail.name}}</span>
        </li>
        <li class="nav-list-item">
            <i class="fa-solid fa-envelope"></i>
            <span>{{adminDetail.email}}</span>
        </li>
        <li class="nav-list-item" >
            <div *ngIf="userStatus; else elseBlock">
                <i class="fas fa-user-alt"></i>
            </div>
            <ng-template #elseBlock>
                <i class="fas fa-user-alt-slash"></i>
            </ng-template>
            <span>{{adminDetail.role}}</span>
        </li>
        <div class="text-center">
            <button class="btn btn-outline-light" routerLink="/login/updateprofile/{{adminDetail.id}}"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
        </div>
    </ul>
</div>